{% extends 'base.html' %} {% block content %}
<div id="main">
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <form method="post">
        <label for="username">ID</label>
        <input type="text" id="username" name="username" /><br /><br />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" /><br /><br />
        <input type="submit" value="Login" />
        <input type="submit" value="Signup" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
