<nav id="nav">
  <ul>
    <li>
      <a href="#top" id="top-link"
        ><span class="icon solid fa-home">배너</span></a
      >
    </li>
    <li>
      <a href="#portfolio" id="portfolio-link"
        ><span class="icon solid fa-th">홈페이지 소개</span></a
      >
    </li>
    <li>
      <a href="#about" id="about-link"
        ><span class="icon solid fa-user">파일 감지</span></a
      >
    </li>
    <li>
      <a href="#contact" id="contact-link"
        ><span class="icon solid fa-envelope">결과 로그</span></a
      >
    </li>
  </ul>
</nav>
