<ul class="icons">
  <li>
    <a href="#" class="icon brands fa-twitter"
      ><span class="label">Twitter</span></a
    >
  </li>
  <li>
    <a href="#" class="icon brands fa-facebook-f"
      ><span class="label">Facebook</span></a
    >
  </li>
  <li>
    <a
      href="https://github.com/defaulthyun/HomeCCTV"
      class="icon brands fa-github"
      ><span class="label">Github</span></a
    >
  </li>
  <li>
    <a href="#" class="icon brands fa-dribbble"
      ><span class="label">Dribbble</span></a
    >
  </li>
  <li>
    <a href="#" class="icon solid fa-envelope"
      ><span class="label">Email</span></a
    >
  </li>
</ul>
