<section id="portfolio" class="two">
  <div class="container">
    <header>
      <h2>홈페이지 소개</h2>
    </header>
    <p>
      저희 홈페이지에서는 고객님의 안전을 위해 최신 기술과 전문적인 노하우를
      제공하면서, 아래와 같이 여러 협력사들과 협력하여, 항상 최선을 다하는
      모습을 보여드릴 것입니다.
    </p>

    <div class="row">
      <div class="col-4 col-12-mobile">
        <article class="item">
          <a href="#" class="image fit"
            ><img src="static/images/pic02.png" alt=""
          /></a>
          <header>
            <h3>화재탐지</h3>
          </header>
        </article>
        <article class="item">
          <a href="https://www.skshieldus.com/kor/index.do?utm_source=google&utm_medium=cpc-sa&utm_campaign=cms&utm_content=SK%EC%89%B4%EB%8D%94%EC%8A%A4&utm_term=SK%EC%89%B4%EB%8D%94%EC%8A%A4&gclid=CjwKCAjw586hBhBrEiwAQYEnHXjn4YXrEyEj3ay83BIufmxboslswtjcrxAcpSo3r2fIkQPpZ-rk5xoCejwQAvD_BwE" class="image fit"
            ><img src="static/images/pic03.png" alt=""
          /></a>
          <header>
            <h3>SK쉴더스</h3>
          </header>
        </article>
      </div>
      <div class="col-4 col-12-mobile">
        <article class="item">
          <a href="#" class="image fit"
            ><img src="static/images/pic04.png" alt=""
          /></a>
          <header>
            <h3>낙상탐지</h3>
          </header>
        </article>
        <article class="item">
          <a href="https://www.s1.co.kr/cctv/intelligent-video-security?ACE_REF=adwords_g&ACE_KW=%EC%A7%80%EB%8A%A5%ED%98%95%EC%98%81%EC%83%81%EB%B6%84%EC%84%9D&gclid=CjwKCAjw586hBhBrEiwAQYEnHRPVT3vL_a8G-kTVmnq9OqsAVkLoO4noyE1XRj-FN0l4-iaG8GXiFhoC38QQAvD_BwE" class="image fit"
            ><img src="static/images/pic05.png" alt=""
          /></a>
          <header>
            <h3>에스원</h3>
          </header>
        </article>
      </div>
      <div class="col-4 col-12-mobile">
        <article class="item">
          <a href="#" class="image fit"
            ><img src="static/images/pic06.jpeg" alt=""
          /></a>
          <header>
            <h3>손동작 감지</h3>
          </header>
        </article>
        <article class="item">
          <a href="https://www.kttelecop.co.kr/?la_gc=CS2B41424218475&la_src=sa&la_cnfg=7242523&gclid=CjwKCAjw586hBhBrEiwAQYEnHZu0KF6_0msPs_XzQ_ZdzuT6ILBSJEZioFgWzuiD8-zlFB8hZrC71xoCKzAQAvD_BwE" class="image fit"
            ><img src="static/images/pic07.jpeg" alt=""
          /></a>
          <header>
            <h3>KT텔레캅</h3>
          </header>
        </article>
      </div>
    </div>
    <footer>
      <a href="#about" class="button scrolly">Test</a>
    </footer>
  </div>
</section>
