<section id="about" class="three">
  <div class="container">
    <header>
      <h2>Detection</h2>
    </header>
    <form
      action="{{ url_for('upload_bp.upload') }}"
      method="POST"
      enctype="multipart/form-data"
    >
      <!-- Wrap the label around the image and file input -->
      <label for="file-upload" class="custom-file-upload">
        <img id="upload-image" src="static/images/pic08.jpg" alt="" />
        <input
          id="file-upload"
          type="file"
          name="file"
          accept="image/*,video/*"
          style="display: none"
          onchange="previewFile()"
        />
      </label>
      <br />
      <input type="submit" value="Detection" />
      <!-- Add a button to allow clearing the file input -->
      <button type="button" onclick="clearFile()">Clear</button>
    </form>
  </div>
</section>

<script>
  let fileUpload = document.getElementById("file-upload");
  let uploadImage = document.getElementById("upload-image");

  function previewFile() {
    let file = fileUpload.files[0];
    let reader = new FileReader();

    reader.onloadend = function () {
      // Create a preview element based on the file type
      let preview = null;

      if (file.type.startsWith("image/")) {
        preview = document.createElement("img");
        preview.classList.add("preview");
        preview.src = reader.result;
      } else if (file.type.startsWith("video/")) {
        preview = document.createElement("video");
        preview.classList.add("preview");
        preview.controls = true;
        preview.src = reader.result;
      }

      // Replace the upload image with the preview element
      if (preview) {
        uploadImage.parentNode.replaceChild(preview, uploadImage);
      }
    };

    if (file) {
      reader.readAsDataURL(file);
    }
  }

  function clearFile() {
    // Clear the file input value and restore the default image
    fileUpload.value = null;
    uploadImage.src = "static/images/pic08.jpg";
  }
</script>
